<dl>
	<dt><%= t('people.firstname')%></dt>
	<dd><%= form.text_field :firstname %></dd>
	<dt><%= t('people.lastname')%></dt>
	<dd><%= form.text_field :lastname %></dd>
	<dt><%= t('people.emails') %></dt>
	   <%= render :partial => 'email', :collection => @person.emails %>
</dl>

<%= form.hidden_field :nickname, :value => '' %>
<%= form.hidden_field :approved_membership, :value => '' %>
<%= form.hidden_field :comments, :value => '' %>

<div style="display: none">
   <%= render :partial => 'phone', :collection => @person.phones %>
   <%= render :partial => 'address', :collection => @person.addresses %>
</div>
