<% masthead t('people.edit') %>
<% navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<%= error_messages_for :person %>

<% form_for :person, :url => person_path(@person), :html => { :method => 'put' } do |f| %>
<%= f.hidden_field :verified, :value => true %>
<%# Make common partial for new and edit %>
	<dl>
		<dt><%= t('people.firstname')%></dt>
		<dd><%= f.text_field :firstname %></dd>
		<dt><%= t('people.lastname')%></dt>
		<dd><%= f.text_field :lastname %></dd>
		<dt><%= t('people.nickname')%></dt>
		<dd><%= f.text_field :nickname %></dd>
		<%= render :partial => 'fields', :locals => { :f => f } %>
		<dt><%= t('comments')%></dt>
		<dd><%= f.text_area :comments %></dd>
	</dl>
	<%= f.submit t('save') %>
<% end %>