<% masthead t('people.title') %>
<% navigation do %>
	<li><%= link_to(t('people.new'), new_person_path)%></li>
<% end %>
<table>
	<thead>
		<tr>
			<th><%= t 'people.name' %></th>
			<th><%= t 'people.nickname' %></th>
			<th><%= t 'people.town' %></th>
			<th><%= t 'people.roles' %></th>
		</tr>
	</thead>
  <% for person in @people %>
		<tr>
    	<td><%= link_to(person.lastname_firstname, person) %></td>
			<td><%= person.nickname %></td>
			<td><%#= address.post_office %></td>
			<td>
				<% for role in person.roles %>
			  	<%= role.name %>
				<% end %>
			</td>
		</tr>
  <% end %>
</table>