<% masthead t('people.new') %>
<% content_for :navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<%= error_messages_for 'person' %>

<% form_for @person do |f| %>
	<dl>
		<dt><%= t('people.firstname')%></dt>
		<dd><%= f.text_field :firstname %></dd>
		<dt><%= t('people.lastname')%></dt>
		<dd><%= f.text_field :lastname %></dd>
		<dt><%= t('people.nickname')%></dt>
		<dd><%= f.text_field :nickname %></dd>
		<dt><%= t('people.roles')%></dt>
		<% for role in @roles %>
			<dd>
         <% fields_for "person[roles][]", role do |roles| %>
            <%= roles.check_box :name, { :checked => false }, role.name, '' %>
            <%= roles.label :name, role.name %>
         <% end %>
			</dd>
    <% end %>
		<dt><%= t('comments')%></dt>
		<dd><%= f.text_area :comments %></dd>
	</dl>
	<%= f.submit t('save') %>
<% end %>