<% masthead t('people.new') %>
<% navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<%= error_messages_for 'person' %>

<% form_for @person do |f| %>
	<dl>
		<dt><%= t('people.firstname')%></dt>
		<dd><%= f.text_field :firstname %></dd>
		<dt><%= t('people.lastname')%></dt>
		<dd><%= f.text_field :lastname %></dd>
		<dt><%= t('people.nickname')%></dt>
		<dd><%= f.text_field :nickname %></dd>
		<dt><%= t('roles.title')%></dt>
		<% unless @roles.empty? %>
         <%= render :partial => 'role', :collection => @roles %>
      <% else %>
         <%= t('roles.empty') %>
      <% end %>
		<dt><%= t('comments')%></dt>
		<dd><%= f.text_area :comments %></dd>
	</dl>
	<%= f.submit t('save') %>
<% end %>