<h1><%= t 'people.show' %></h1>
<dl>
	<dt><%= t('people.firstname')%></dt>
	<dd><%= @person.firstname %></dd>
	<dt><%= t('people.lastname')%></dt>
	<dd><%= @person.lastname %></dd>
	<dt><%= t('people.nickname')%></dt>
	<dd><%= @person.nickname %></dd>
	<dt><%= t('people.roles')%></dt>
	<% for role in @person.roles %>
  	<dd><%= role.name %></dd>
	<% end %>
	<dt><%= t('people.coments')%></dt>
	<dd><%= @person.comments %></dd>
</dl>