<% masthead t('people.show') %>
<% content_for :navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
	<li><%= link_to(t('people.edit'), edit_person_path)%></li>
<% end %>
<dl>
	<dt><%= t('people.firstname')%></dt>
	<dd><%= @person.firstname %></dd>
	<dt><%= t('people.lastname')%></dt>
	<dd><%= @person.lastname %></dd>
	<dt><%= t('people.nickname')%></dt>
	<dd><%= @person.nickname %></dd>

	<dt><%= t('roles.title')%></dt>
	<% unless @person.roles.empty? %>
	   <% for role in @person.roles %>
  	      <dd><%= role.name %></dd>
	   <% end %>
	<% else %>
	  <dd><%= t('roles.empty') %></dd>
	<% end %>

	<% unless @person.emails.empty? # Doesn't work %>
		<dt><%= t('people.emails') %></dt>
		<% for email in @person.emails %>
  		<dd><%= email.email %></dd>
		<% end %>
	<% end %>

	<% unless @person.phones.empty? # Doesn't work %>
		<dt><%= t('people.phone_numbers') %></dt>
		<% for phone in @person.phones %>
  		<dd><%= phone.number %></dd>
		<% end %>
	<% end %>

	<% unless @person.addresses.empty? # Doesn't work' %>
		<dt><%= t('people.addresses.title') %></dt>
		<dd>
			<dl>
				<% for address in @person.addresses %>
					<dd>
						<%= address.street %><br />
						<%= address.post_office_line %><br />
						<%= address.country %>
					</dd>
				</dl>
			</dd>
		<% end %>
	<% end %>

	<% unless @person.comments.empty? %>
		<dt><%= t('comments') %></dt>
  	<dd><%= @person.comments %></dd>
	<% end %>
</dl>