<% content_for :masthead do %>
	<%= t 'people.show' %>
<% end %>
<% content_for :navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
	<li><%= link_to(t('people.edit'), edit_person_path)%></li>
<% end %>
<dl>
	<dt><%= t('people.firstname')%></dt>
	<dd><%= @person.firstname %></dd>
	<dt><%= t('people.lastname')%></dt>
	<dd><%= @person.lastname %></dd>
	<dt><%= t('people.nickname')%></dt>
	<dd><%= @person.nickname %></dd>
	<dt><%= t('people.roles')%></dt>
	<% for role in @person.roles %>
  	<dd><%= role.name %></dd>
	<% end %>
	<dt><%= t('comments')%></dt>
	<dd><%= @person.comments %></dd>
</dl>