<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>

<p>
  <b>Selfgiven:</b>
  <%=h @role.selfgiven %>
</p>

<p>
  <b>Comments:</b>
  <%=h @role.comments %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
